* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: var(--bodyfontsize);
    font-family: var(--ffoverpass);
}

:root {
    --bodyfontsize: 16px;
    --bodybggradientblue: hsl(237, 17%, 21%);
    --bodybggradientdesblue: hsl(237, 23%, 32%);
    --bgintrovlight: hsl(13, 100%, 72%);
    --bgintrolight: hsl(353, 100%, 62%);
    --ffoverpass: 'Overpass', sans-serif;
    --ffubuntu: 'Ubuntu', sans-serif;
    --headingcolor: hsl(208, 49%, 24%);
    --footerbg: hsl(240, 10%, 16%);
    --footertext: hsl(240, 2%, 79%);
}

h2 {
    color: var(--headingcolor);
}

p {
    font-family: var(--ffoverpass);
}


main {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--bgintrovlight), var(--bgintrolight));
    border-radius: 0 0 0 100px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

section .test {
    position: absolute;
    right: 0;
}

/*Header Main Navbar Dropdown Section*/
.navbar {
    display: flex;
    align-items: center;
    height: 100px;
}

.hamburger-icon {
    display: none;
}

.hamburger-icon-close {
    display: none;
}

.navbar-menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-menu {
    overflow: hidden;
    margin-left: 40px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropd-btn {
    font-size: 16px;
    font-weight: 600;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
    font-family: var(--ffubuntu);
    cursor: pointer;
}

.dropdown .dropd-btn:hover {
    text-decoration: underline;
}

.dropdown .dropd-btn img {
    margin-left: 10px;
}

.icon-dark {
    display: none;
}

.icon-light-active {
    transform: rotate(180deg);
}

.dropdown-content {
    position: absolute;
    background-color: #e2e2e2;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
    margin-top: 20px;
    display: none;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    font-weight: bold;
}

.navbar-buttons {
    display: flex;
    align-items: center;
}

.navbar-loginbtn {
    text-decoration: none;
    color: white;
}

.navbar-loginbtn:hover {
    font-weight: bold;
}

.navbar-signupbtn {
    color: var(--bgintrolight);
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 50px;
    border: none;
    background-color: white;
    font-weight: bold;
    margin-left: 20px;
    cursor: pointer;
    font-family: var(--ffubuntu);
}

.navbar-signupbtn:hover {
    color: white;
    background-color: hsl(355, 100%, 74%);
}

/************* End Header Navbar Section *********************/

/* Main Intro Section*/
.main-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 100px 0;

}

.main-intro-btns {
    margin-top: 40px;
}

.main-intro h1 {
    font-size: 3rem;
}

.main-intro p {
    margin-top: 20px;
}

.main-intro-btns button {
    padding: 15px 20px;
    border-radius: 50px;
    font-family: var(--ffubuntu);
}

.main-intro-btns .btn-startff {
    border: none;
    background-color: white;
    color: var(--bgintrolight);
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.main-intro-btns .btn-startff:hover {
    color: white;
    background-color: hsl(355, 100%, 74%);
}

.main-intro-btns .btn-lm {
    border: solid white 1px;
    background-color: transparent;
    color: white;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}

.main-intro-btns .btn-lm:hover {
    background-color: white;
    color: var(--bgintrolight);
}

/************* End Main Section *********************/
/****************************************************/

/* Infrastructure Section 1 */
.infrastructure {
    background: linear-gradient(var(--bodybggradientblue), var(--bodybggradientdesblue));
    border-radius: 0 50px 0px 50px;
}

.infr-content {
    display: flex;
    align-items: center;
    height: 350px;
}

.infr-content h2 {
    color: white;
}

.infr-content p {
    color: white;
    padding-top: 30px;
    line-height: 2rem;
}

/************* End Infrasctrute Section 1 *********************/

/* Design Section 2*/
.design h1 {
    text-align: center;
    font-size: 2rem;
    padding-top: 50px;
    color: var(--headingcolor);
    font-weight: bold;
}

.design-content {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding: 0 0 100px 0;
}

.design-content .design-content-mimage {
    display: none;
}

.design-content h2 {
    color: var(--headingcolor);
}

.design-content .design-content-title2 {
    padding-top: 30px;
}

.design-content p {
    color: hsl(207, 13%, 34%);
    padding-top: 30px;
    line-height: 2rem;
}

.show-dd1 {
    display: block;
}

.show-navmenu {
    height: auto !important;
    transition: ease-in-out;
}

.hamburger-menu-rotate {
    transform: rotate(45deg);
}

/************* End Design Section 2 *********************/

/* Free Open Section 3*/
.freeopen {
    padding: 100px 0;

}

.free-content {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.free-content .free-content-mimage {
    display: none;
}

.free-content h2 {
    color: var(--headingcolor);
}

.free-content .free-content-title2 {
    padding-top: 30px;
}

.free-content p {
    color: hsl(207, 13%, 34%);
    padding-top: 30px;
    line-height: 2rem;
}

/************* End Free Open Section 3 *********************/

/* Footer Section*/
footer {
    background-color: var(--footerbg);
    border-top-right-radius: 50px;
    padding: 60px 0;
}

.footer-content {
    display: flex;
    flex: 1;
    color: var(--footertext);
}

.footer-box {
    display: flex;
    flex-direction: column;
    flex: 1;

}

.footer-box div {
    color: white;
    font-weight: 600;
}

.footer-box-links {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

}

.footer-box-links a {
    text-decoration: none;
    color: rgb(192, 192, 192);
    padding-bottom: 20px;

}

.footer-box-links a:hover {
    text-decoration: underline;
}

.footer-box-image {
    align-items: flex-start;
}

.attribution {
    text-align: center;
    padding: 15px 0;
}

/************* End Footer *********************/


/************* Media Queries Mobile 420px ******************/
@media (max-width: 420px) {
    body {
        overflow-x: hidden;
    }

    .container {
        padding: 0 10px;
    }

    .hamburger-icon {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 20px;
    }

    .hamburger-icon-close {
        display: none;
        cursor: pointer;
        position: absolute;
        right: 20px;
    }

    .navbar-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
    }

    .navbar-menu-icon {
        display: block;
    }

    .navbar-signupbtn {
        margin-top: 20px;
        margin-left: 0;
        background: linear-gradient(var(--bgintrovlight), var(--bgintrolight));
        color: white;
    }

    .navbar-loginbtn,
    .dropdown-menu .dropd-btn {
        color: var(--headingcolor);
    }


    .navbar-menu {
        display: flex;
        flex-direction: column;
        height: 0;
        overflow: hidden;
        position: absolute;
        top: 100px;
        width: 100%;
        left: 0;
        background-color: white;
        padding: 0 20px;
    }

    .divider {
        height: 1px;
        width: 100%;
        background-color: rgb(160, 160, 160);
        margin-top: 20px;
    }

    .dropdown {
        text-align: center;
    }

    .dropdown-menu {
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }

    .dropdown-content {
        position: relative;
        border-bottom-left-radius: 20px;
    }

    .dropdown-content a {
        text-align: center;
    }

    .icon-light {
        display: none;
    }

    .icon-dark {
        display: inline;
    }


    .main-intro {
        padding: 50px 0 150px 0;
    }

    .main-intro h1 {
        text-align: center;
        font-size: 2.6rem;
    }

    .design h1 {
        font-size: 1.5rem;
    }

    .design-content {
        flex-direction: column;
        padding: 50px 0 200px 0;
    }

    .design-content .design-content-dimage {
        display: none;
    }

    .design-content .design-content-mimage {
        display: block;
        margin-bottom: 60px;
    }

    .design-content div {
        text-align: center;
    }

    .infr-content {
        flex-direction: column;
        height: 500px;
    }

    .infr-content p,
    .infr-content h2,
    .free-content p,
    .free-content h2 {
        text-align: center;
    }

    .infr-content img {
        margin-top: -150px;
        width: 100%;
    }

    .freeopen {
        padding-top: 50px;
    }

    .free-content {
        flex-direction: column;
    }

    .free-content .free-content-dimage {
        display: none;
    }

    .free-content .free-content-mimage {
        display: block;
        margin-bottom: 50px;
    }

    .footer-content {
        flex-direction: column;
    }

    .footer-box,
    .footer-box-links {
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
    }

    .footer-box-image {
        margin-bottom: 60px;
    }
}

/************* End Media Queries Mobile 420px ******************/